{{define "content"}}
<div class="centered-view">
    <h1 class="mb-3">Nová poznámka</h1>

    <form hx-post="/api/notes/create" hx-target="#main-content">
        <div class="form-group">
            <label>Název</label>
            <input type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label>Cesta (např. /projekty/atria)</label>
            <input
                type="text"
                name="path"
                value="/"
                placeholder="/"
                class="form-control"
            />
        </div>

        <div class="form-group mb-3">
            <label>Obsah (Markdown)</label>
            <textarea
                name="content"
                class="form-control"
                style="height: 300px; font-family: monospace"
            ></textarea>
        </div>

        <div class="flex-row">
            <button type="submit">Vytvořit poznámku</button>
            <button
                type="button"
                hx-get="/notes"
                hx-target="#main-content"
                hx-push-url="true"
                class="outline"
            >
                Zrušit
            </button>
        </div>
    </form>
</div>
{{end}}
